---
import SEO from '@/components/SEO.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  image?: string;
  article?: boolean;
  publishDate?: Date;
  author?: string;
}

const { title, description, image, article, publishDate, author } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      image={image}
      article={article}
      publishDate={publishDate}
      author={author}
    />
  </head>
  <body class="flex flex-col min-h-screen bg-yellow text-gray-900 antialiased">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
